<div class="container">
  <h1>Welcome, <%= show_my_name %>!</h1>

  <nav>
    <ul>
      <li><%= link_to "Types", types_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= link_to "Address", addresses_path%></li>
      <li><%= link_to "Phones", phones_path %></li>
    </ul>
  </nav>
</div>